@media only screen and(max-width:1200px) {
    header {
        height: 65vh;
    }
}

@media only screen and (max-width:1024px) {
    .mobile-menu span {
        display: block;
    }
    header {
        height: 60vh;
    }
    .row {
        margin: 0 15px;
    }
    .hero-text-box {
        width: 90%;
    }
    .main-nav {
        display: none;
    }
    html {
        font-size: 56%
    }
    .client-photo {
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review {
        width: 100%;
        float: none;
        text-align: center;
    }
    .contact-section form {
        width: 100%;
        margin-left: 0;
    }
    .logo {
        margin-left: 30px;
    }
    .box {
        padding: 1% 0;
    }
}

@media only screen and (max-width:980px) {
    .span_1_of_4 {
        width: 49.2%;
    }
    .span_1_of_4 {
        margin-left: 0;
    }
    .box {
        padding: 1% 0;
    }
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width:768px) {
    .little-description {
        width: 100%;
        margin-left: 0;
    }
    .row {
        margin: 0;
    }
}

@media only screen and (max-width:480px) {
    header {
        height: 75vh;
    }
    .span_1_of_4 {
        width: 100%;
    }
    .portfolio-filter button {
        padding: .5rem .5rem;
    }
    .testimonial .col:nth-child(3),
    .testimonial .col:nth-child(4) {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 360px) {
    .portfolio-filter button {
        padding: 4px;
        margin: 0;
    }
}